<div class="alert alert-dismissible alert-info">
    <h4>Welcome to Gitwork!</h4>
    <p>There doesn't appear to be a repository in your current working directory.  Please either clone or create a repository to continue.</p>
</div>

<div class="form-group">
    <h3>Clone a Repository</h3>
    <div class="input-group">
        <span class="input-group-addon">Url:</span>
        <input type="text" class="form-control" ng-model="repoUrl">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="cloneRepo(repoUrl)">clone</button>
          </span>
    </div>
</div>


<div class="form-group">
    <h3>Create a Repository</h3>
    <div class="input-group">
        <span class="input-group-addon">Name:</span>
        <input type="text" class="form-control" ng-model="repoName">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="createRepo(repoName)">create</button>
        </span>
    </div>
</div>




