<div class="alert alert-dismissible alert-info">
  <h4>Time to commit your work!</h4>
  <p>Please add the files to be commited, then enter a message to accompany your commit.</p>
</div>

<div class="form-group">
    <button class="btn btn-primary" type="button" ng-click="getStatus()">Update Status</button>
    <p>Unstaged: (Click to add file to commit)</p>
     <button class="btn btn-primary" type="button" ng-repeat="fileUS in filesUnstaged" ng-click="add(fileUS.fileName)">{{ fileUS.fileName }}</button>

     <p>Staged: (Click to remove file from commit)<p>
      <button class="btn btn-primary" type="button" ng-repeat="fileS in filesStaged" ng-click="remove(fileS.fileName)">{{ fileS.fileName }}</button>
    <h3>Commit Progress</h3>
    <div class="input-group">
        <span class="input-group-addon">Message:</span>
        <input type="text" class="form-control" ng-model="commitMsg">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="commit(commitMsg)" ui-sref="merge_ready">Commit</button>
          </span>
    </div>
</div>