<div class="alert alert-dismissible alert-info">
    <h4>Time to commit your work!</h4>
    <p>Please select the files below you would like to commit.</p>
</div>

<div class="form-group">
    <button class="btn-sm btn-refresh" type="button" ng-click="getStatus()">Refresh Files</button>
    <p>Click to ADD to commit</p>
     <button class="btn btn-primary branch-button btn-sm btn-danger" type="button" ng-repeat="fileUS in filesUnstaged" ng-click="add(fileUS.fileName)">{{ fileUS.fileName }}</button>

    <p>Click to REMOVE from commit<p>
    <button class="btn btn-primary branch-button btn-sm btn-success" type="button" ng-repeat="fileS in filesStaged" ng-click="remove(fileS.fileName)">{{ fileS.fileName }}</button>
    <div class="input-group">
        <span class="input-group-addon">Message:</span>
            <input type="text" class="form-control" placeholder="Enter commit message here" ng-model="commitMsg" name="commit_Message"/>
              <span class="input-group-btn" ng-show="commitMsg.length > 3">
                <button class="btn btn-primary commit-button" type="button" ng-click="commit(commitMsg)" ui-sref="merge_ready">Commit</button>
              </span>
    </div>
</div>

<div class="progress-text" style="width: 17%">
    <p> Repo </p>
</div>

<div class="progress-text" style="width: 16%">
    <p> Branch </p>
</div>

<div class="progress-text" style="width: 17%">
    <p> Develop </p>
</div>

<div class="progress-text" style="width: 15%">
    <p> Commit </p>
</div>

<div class="progress progress-striped">
    <div class="progress-bar progress-bar-success" style="width: 50%"></div>
    <div class="progress-bar progress-bar-warning active" style="width: 17%"></div>
    <div class="progress-bar progress-bar-danger" style="width: 33%"></div>
</div>
