<div class="alert alert-dismissible alert-info">
    <h4>Time to update your project!</h4>
    <p>Clicking the "merge" button below will merge your changes with the most recent version of the project!</p>
</div>

<div class="form-group">
    <h3>Merge with master:</h3>
    <div class="input-group">
        <span class="input-group-addon">Merge</span>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click='merge()'>Merge</button>
        </span>
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Find Conflicts</span>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click='findConflicts()'>Find Conflicts</button>
        </span>
    </div>
</div>

<div class="alert alert-dismissible alert-warning" ng-show='mergeConflictError'>
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Warning!</h4>
  <p>This merge has conflicts.  Go to the files with the conflicts, resolve them and commit the changes.</p>
</div>


