<div class="alert alert-dismissible alert-info">
    <h4>Time to make a branch!</h4>
    <p>If you have a branch you would like to switch to you can do it here.  Otherwise, create a new branch below.</p>
</div>

<div class="form-group">
    <h3>Choose a branch to use:</h3>
    <div class="input-group">
        <span class="input-group-addon">Branch:</span>
        <input type="text" class="form-control" ng-model="repoUrl">
        <a ng-repeat="branch in branches" class="btn-primary btn-sm" ng-click="switch(branch)">{{ branch }}</a>

          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ui-sref="work">Select</button>
          </span>
    </div>
</div>

<div class="form-group">
    <h3>Create a new branch:</h3>
    <div class="input-group">
        <span class="input-group-addon">Feature:</span>
        <input type="text" class="form-control" ng-model="branchName">

          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ui-sref="work" ng-click="localBranches()">Create</button>
          </span>
    </div>
</div>





